*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #0e1014;
    color: #FFFFFF;
}

h1{
    font-size: 70px;
    font-family: "Unbounded", sans-serif;
    font-weight: bold;
}

p{
    font-family: "Poppins";
    font-weight: regular;
}

h1 span{
    color: #9147ff;
}

a{
    color: #FFFFFF;
}